*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header{
    width: 100%;
    height: 250px;
    background: slategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
header h1{
    font-size: 10rem;
    -webkit-text-stroke: 3px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 20px black;
}
header img{
    border: 3px solid white;
    border-radius: 30px;
}
header img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
}


img{
    width: 200px;
    height: 200px;
}