:root{
    --mainbackground: #22223B;
    --secbackground: #4A4E69;
    --thirdbackground: #9A8C98;
    --textcolor: #C9ADA7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #F2E9E4;
}

header{
    width: 100%;
    height: 250px;
    background: var(--mainbackground);
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
header h1{
    font-size: 8rem;
    -webkit-text-stroke: 3px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 20px black;
}
header img{
    border: 3px solid white;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}
header img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
}
.introductie{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.introductie-container{
    width: 1200px;
    background-color: var(--secbackground);
    border: 5px solid black;
    border-radius: 35px;
    padding: 1rem;
}
.introductie-container p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    color: #C9ADA7;
    -webkit-text-stroke: 1px var(--mainbackground);
}

.Talen-tabel{
    width: 750px;
    background: var(--secbackground);
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid black;
}
.Talen-tabel-cointainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Talen-tabel thead th{
    background: transparent;
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 12px 16px;
    text-align: left;
    font-size: 1.5rem;
}
.Talen-tabel tbody tr{
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 12px;
    padding: 14px 16px;
}
.Talen-tabel tbody tr:nth-child(odd){
    background: var(--mainbackground);
}
.Talen-tabel tbody tr:nth-child(even){
    background: var(--secbackground);
}
.Talen-tabel td{
    border: none;
}
.Talen-rij{
    display: flex;
    align-items: center;
    gap:12px;
}
.Talen-flag{
    width: 36px;
    height: 24px;
    border-radius: 4px;
    background: var(--textcolor);
}
.Talen-naam{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--textcolor);
    -webkit-text-stroke: 1px var(--mainbackground);
}
.Taal-kennis{
    font-size: 1rem;
    color: black;
}
.Kennis-progressie{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.progressie{
    height: 10px;
    background: #e6eefb;
    border-radius: 999px;
    overflow: hidden;
}
.progressie span{
    display: block;
    height: 100%;
    background: linear-gradient(90deg, deepskyblue, darkblue);
    border-radius: 999px;
}
.progressie-label{
    font-size: 1rem;
    color: black;
}
.prog-ned{
    width: 100%;
}
.prog-eng{
    width: 80%;
}



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: var(--mainbackground);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
footer p{
    color: white;
    -webkit-text-stroke: 0.3px black;
    font-size: 1.25rem;
}
footer button{
    border: solid 3px black;
    border-radius: 15px;
    color: var(--textcolor);
    background: var(--secbackground);
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
}
footer button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
}