*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #F2E9E4;
}

header{
    width: 100%;
    height: 250px;
    background: #22223B;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
header h1{
    font-size: 8rem;
    -webkit-text-stroke: 3px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 20px black;
}
header img{
    border: 3px solid white;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}
header img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px black;
}
.introductie{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.introductie-container{
    width: 1200px;
    background-color: #4A4E69;
    border: 5px solid black;
    border-radius: 35px;
    padding: 1rem;
}
.introductie-container p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    color: #C9ADA7;
    -webkit-text-stroke: 1px #22223B;
}